video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
    background-color: rgba(255, 255, 255, 0.5);
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.search {
  width: 300px;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin-top: 30px;
    padding: 0px;
  }
  li {
    background-color: #ddd6e8;
   
    width: 300px;
  }
  h1, h2, ul, p, td {
    font-family: 'Open Sans', sans-serif;
  }
  .icon {
    width: 30px;
  }
  button {
    margin-top: 10px;
    border-radius: 12px;
    border: none;
    background-color: #dbecc4;
  }
  .dish {
    border:2px solid #575756;
    box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  }
  td {
    border: 1px solid #575756 ;
    width: 150px;
    background-color: #ddd6e8;
  }